[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "distinctiveness"]
	path = distinctiveness
	url = https://github.com/iandreafc/distinctiveness-r
